<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block meta %}
			{% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
		{% endblock %}

		{% block style %}

			{{ encore_entry_link_tags('app') }}

		{% endblock %}
	</head>


	<body>
		<header id="header">

			<nav class="nav-bar">
				<div class="inside inside-nav">
					<div id="burger">ニ</div>

					<div class="logo">
						<a href="/">美術</a>
					</div>

					<ul
						class="navigation unshow">


						{# <li class="nav-link">
																									<a href="shop.html">Shop</a>
																								</li> #}

						{% if not app.user %}
							<li class="nav-link">
								<a href="inscription.html">Connexion</a>
							</li>
						{% else %}

							<li class="nav-link">
								<a href="about.html">About</a>
							</li>

							<li class="nav-link">
								<a href="galery.html">Gallery</a>
							</li>

							<li class="nav-link">
								<a href="message.html">Message</a>
							</li>

							{% if is_granted("ROLE_ADMIN") %}
							<li class="nav-link">
								<a href="messages/admin.html">Messages Admin</a>
							</li>
							{% endif %}
							
							<li class="nav-link">
								<a href="{{ path('security_logout')}}">Deconnexion</a>
							</li>

						{% endif %}

					</ul>
				</div>
			</nav>

			{#        {% block header %} #}
		{#            <nav> #}
			{#                <ul> #}
			{#                    <li> #}
			{#                        <a href="{{ sulu_content_root_path() }}">Homepage !</a> #}
			{#                    </li> #}

			{#                    {% for item in sulu_navigation_root_tree('main') %} #}
			{#                        <li> #}
			{#                            <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}" #}
			{#                               title="{{ item.title }}">{{ item.title }}</a> #}
			{#                        </li> #}
			{#                    {% endfor %} #}
			{#                </ul> #}
			{#            </nav> #}
			{#        {% endblock %} #}

		</header>

		{# <form action="{{ path('sulu_search.website_search') }}" method="GET">
													<input name="q" type="text" placeholder="Search"/>
													<input type="submit" value="Go"/>
												</form> #}

		<main>
			{% block content %}{% endblock %}
		</main>

		<footer id="footer">


			<div class="inside">
				<div class="contact-footer">

					<div class="social-media-footer-conteneur">
						<ul class="social-media-list">
							<li class="logo-footer">
								<a href="/" class=""></a>
							</li>

							<li class="insta">
								<a href="" class="insta-link">Instagram</a>
							</li>

							<li class="facebook">
								<a href="" class="fb-link">Facebook</a>
							</li>

							<li>
								<a href="">
									<span class="mail-adresse">
										<a href="message.html" target="_blank">@mail</a>
									</span>
								</a>
							</li>
						</ul>
					</div>


					<div class="copyright">
						&copy; 2023 MinkedArt. Tous droits réservés.
						<a href="legal.html" class="legal">Mentions Legal</a>
					</div>
				</div>


			</div>

			{# {% block footer %}
																			<p>Copyright
																				{{ 'now'|date('Y') }}
																				SULU</p>
																		{% endblock %} #}
		</footer>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>

